h1 {
    margin-top: 0;
}
body {
    margin: 0;
    background-color: lightskyblue;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    opacity: 1;
}
button {
    height: 50px;
    width: 200px;
    background-color: white;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    font-family: BDfont;
}
button:hover { 
    background: lightgray; 
}
button:active { 
    background: whitesmoke;
}
.aaa {
    height: 800px;
    width: 80vw;
    background: linear-gradient(
        to right,
        lightskyblue,
        rgb(220, 255, 253)
    );
    border-radius: 10px;
    border: 3px solid black;
    top: 20px;
    left: 10vw;
    position: relative;
    animation: titlea 1s;
}
.button1 {
    height: 50px;
    width: 200px;
    background-color: white;
    border: 3px solid gray;
    font-size: 20px;
    border-radius: 10px;
    font-family: BDfont;
    top: 20px;
    position: relative;
}
.title {
    color: white;
    -webkit-text-stroke: 3px gray;
    font-size: 60px;
    animation: titlea 2s;
    position: relative;
    font-family: "CookieRun", sans-serif;
    
}
.menu {
    width: 99.2vw;
    height: 50px;
    background-color: white;
    animation: mblock 2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border-radius: 10px;
    border: 3px solid gray;
}
.stylepage {
    width: 100vw;
    height: 4000px;
    background-color: white;
    margin: 0;
}
.hometitle {
    font-family: BDfont;
    font-size: 30px;
    top: 10px;
    left: 0;
    position: relative;
}
.subtitle {
    margin-top: 0;
    font-family: BDfont;
    font-size: 20px;
    top: 20px;
    left: 0;
    position: relative;
}
@keyframes titlea {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    50% {
        transform: translateY(-20px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes mblock {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
@font-face {
    font-family: "CookieRun";
    src: url("./font/CookieRun Black.otf") format("opentype");
}
@font-face {
    font-family: "BDfont";
    src: url(./font/한국기계연구원_BOLD.TTF) format("opentype");
}